# create copy named `.env` and fill all varibles

export MINIKUBE_DRIVER=''
export DAS_WORKSPACE_TOKEN=''
export DAS_TENANT='https://<TENANT>.styra.com'
export GITHUB_USER=''
export GITHUB_TOKEN=''
export GIT_REFERENCE='refs/heads/main'
export GIT_URL=''
export GIT_CREDENTIAL=''